{% extends 'root/base.html' %}
{% block title %}Editar{% endblock %}
{% block content %}

<div class="col-8 mx-auto p-4">
    <form class="d-flex flex-column gap-2" action="/store-edit/{{produto.id}}" method="POST">
      {% csrf_token %}
    
      <label for="name">Name</label>
      <input value="{{produto.nome}}" type="text" name="nome" />
    
      <label for="price">Price</label>
      <input value="{{produto.price}}" type="number" min="1" name="price" />
    
      <label for="category">Category</label>
      <input value="{{produto.categoria}}" type="text" name="categoria" />
      <button type="submit">Create</button>
    </form>
  </div>

{% endblock %}
