{% extends "root/base.html" %} 

{% block content %}

<div class="col-8 mx-auto border p-4 rounded-3">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
         {% for produto in produtos %}
         <tr>
            <th scope="row">{{produto.id}}</th>
            <th scope="row">{{produto.nome}}</th>
            <th scope="row">{{produto.price}}</th>
            <th scope="row">{{produto.categoria}}</th>
            <th scope="row" >
                <button class="btn btn-primary" id="{{produto.id}}"  onclick="edit(this)" ><box-icon color="white" name='edit'></box-icon></i></button>
                <button class="btn btn-danger" id="{{produto.id}}"  onclick="del(this)" ><box-icon color="white" name='trash' ></box-icon></button>
            </th>
          </tr>
          

         {% endfor %}
          
          
        </tbody>
      </table>
    </div>
    <script>
        function edit(e) {
            let id = e.getAttribute('id')
            window.location.href = window.location.origin + '/edit/' + id
        }
        function del(e) {
            let id = e.getAttribute('id')
            window.location.href = window.location.origin + '/delete/' + id
        }
    </script>

{% endblock %}
